html,body
  min-height 100%
  background-color $themeColor
.navbar
  background-color $themeColor
  .links
    background-color $themeColor !important
    .search-box
      input
        background-color $themeColor
      .suggestions
        background-color $themeColor
        li
          background-color $themeColor
    .nav-dropdown
      background-color $themeColor
.sidebar
  background-color $themeColor
.page
  background-color $themeColor
  tr
   background-color $themeColor
   code
     background-color $codeBgColor
