  
.theme-container.demo-page-class
  .page
    .theme-default-content
      margin 0
      padding 0
      max-width 100%
      .language-vue
        margin 0
        border-radius 0
    .page-edit
      display none
    .page-nav
      display none