::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(66, 185, 131, 0.05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #b4c7d0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c3250d9;
}

@font-face {
  font-family: 'iconfont'; /* project id 1413592 */
  src: url('//at.alicdn.com/t/font_1413592_dwrg52plwno.eot');
  src: url('//at.alicdn.com/t/font_1413592_dwrg52plwno.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1413592_dwrg52plwno.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1413592_dwrg52plwno.woff') format('woff'),
    url('//at.alicdn.com/t/font_1413592_dwrg52plwno.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1413592_dwrg52plwno.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
